# Ejecutar: flutter run --dart-define=ENV=stage  o  --dart-define=ENV=prod
BASE_URL=https://api.themoviedb.org/3
BASE_IMAGE_URL=https://image.tmdb.org/t/p/w500
BASE_BACKDROP_URL=https://image.tmdb.org/t/p/w780
API_KEY=tu_api_key_aqui
